    <!-- Left Sidebar start -->
    <div class="sidebar_container">
      <div id="sidebar_content">
        <ul>
          <li><a href="/">&lt; Home ------- &gt;</a></li>
          <!-- <li><a href="/categories">&lt; Categories -------- &gt;</a></li> -->
          <li><a href="/archive/">&lt; Archive ---- &gt;</a></li>
          <li><a href="/pages/">&lt; Pages ------ &gt;</a></li>
          <!-- <li><a href="/tags/">&lt; Tags -------------- &gt;</a></li> -->
        </ul>
      </div>
    </div>
    <!-- Left Sidebar end   -->
